@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
header {
    background-image: linear-gradient(90deg, #181818 0%, rgba(24, 24, 24, 0.822917) 24.48%, rgba(24, 24, 24, 0) 100%), url("../images/Rectangle.png");
    height: 100vh;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-go-ride {
    color: white;
    font-weight: bold;
    background-color: #E76F51;
}

hr {
    width: 70px;
}

.rating-icon {
    width: 20px;
}